extends layout

block content
  h1 Where is your train! My Test
  p Select your train below to see its current schedule.Bro
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
